In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('../data/raw/docentes_periodo.csv', sep=';')

In [8]:
df.head()

   PERIODO  COD_MAT  COD_DOCENTE
0   201210    11303         1329
1   201210    11304         3111
2   201210    11305          622
3   201210    11312         1329
4   201210    11313         1329