# Pre-Procesamiento de datos: Desercion Universidad de Boyaca

# 1. Cargando tablas e informacion general

In [1]:
# importar pandas
import pandas as pd

In [2]:
# Cargar datos como Strings
docentes_periodo_df = pd.read_csv('../data/raw/docentes_periodo.csv', ';')
eval_docentes_periodo_df = pd.read_csv('../data/raw/eval_docentes_periodo.csv', ';')
mat_cursadas_df = pd.read_csv('../data/raw/mat_cursadas_rend_academico.csv', ';')
perfil_ingreso_df = pd.read_csv('../data/raw/perfil_ingreso.csv', ';')
rendimiento_academico_df = pd.read_csv('../data/raw/rendimiento_academico.csv', ';')

In [8]:
print("\n"+"docentes_periodo".center(90))
display(docentes_periodo_df.head(3))
print("\n"+"eval_docentes_periodo".center(90))
display(eval_docentes_periodo_df.head(3))
print("\n"+"mat_cursadas".center(90))
display(mat_cursadas_df.head(3))
print("\n"+"perfil_ingreso_df".center(90))
display(perfil_ingreso_df.head(3))
print("\n"+"eval_docentes_periodo".center(90))
display(rendimiento_academico_df.head(3))

                                     docentes_periodo

   PERIODO  COD_MAT  COD_DOCENTE
0   201210    11303         1329
1   201210    11304         3111
2   201210    11305          622

                                  eval_docentes_periodo

,PERIODO,COD_DOCENTE,COD_MAT,COD_FACTOR,NOM_FACTOR,CALIFICACION
0,201210,1008,66410,1,Asistencia y Puntualidad,"4,63"
1,201210,1008,66410,2,Relaci�n profesor alumno,"4,65"
2,201210,1008,66410,3,Orientaci�n del proceso de formaci�n,"4,58"

                                       mat_cursadas

,PERIODO_COHORTE,PERIODO_ACADEMICO,CODIGO,TOT_MAT_INSCRITAS,MAT_APROBADAS
0,201210,201210,11312001,8,7
1,201210,201210,11312002,8,7
2,201210,201210,11312003,8,7

                                    perfil_ingreso_df

,PERIODO_COHORTE,CODIGO,GENERO,EDAD,COLEGIO_PROCEDENCIA,PUNT_TOTAL,PUNT_AREA,ES_DESERTOR
0,201210,11312001,M,22.0,COL COOP COOSERVICIOS,438,49,NO
1,201210,11312002,M,23.0,INSTITUTO DE EDUCACION MEDIA DIVERSIFICADA INE...,386,48,NO
2,201210,11312003,F,22.0,I.E. ANTONIO NARI�O,460,51,NO

                                  eval_docentes_periodo

,PERIODO_COHORTE,PERIODO_ACADEMICO,CODIGO,COD_MAT,NOMBRE_MAT,NOTA_DEF,ESTADO
0,201210,201210,11312001,11305,EXP. ORAL ESCRITA,"3,50",APROBADA
1,201210,201210,11312001,11312,INICIATIVA EMPRES,"4,00",APROBADA
2,201210,201210,11312001,11310,MICROECONOM�A,"3,60",APROBADA

## 2. Tabla "docentes_periodo"

### Tipos de datos:

In [26]:
docentes_periodo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32537 entries, 0 to 32536
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PERIODO      32537 non-null  int64
 1   COD_MAT      32537 non-null  int64
 2   COD_DOCENTE  32537 non-null  int64
dtypes: int64(3)
memory usage: 762.7 KB

> los codigos deben ser variables categoricas no enteros, asi que debemos convertirlos a strings:

In [8]:
docentes_periodo_df['COD_MAT'] = docentes_periodo_df['COD_MAT'].astype(str)
docentes_periodo_df['COD_DOCENTE'] = docentes_periodo_df['COD_DOCENTE'].astype(str)

docentes_periodo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32537 entries, 0 to 32536
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PERIODO      32537 non-null  int64
 1   COD_MAT      32537 non-null  object
 2   COD_DOCENTE  32537 non-null  object
dtypes: int64(1), object(2)
memory usage: 762.7+ KB

In [12]:
# Dimensiones del dataframe:
print(f'\nnumero de filas = {docentes_periodo_df.shape[0]}\nnumero de columnas = {docentes_periodo_df.shape[1]}')
# describcion general del dataframe:
docentes_periodo_df.describe(include='all')

numero de filas = 32537
numero de columnas = 3

              PERIODO COD_MAT COD_DOCENTE
count    32537.000000   32537       32537
unique            NaN    2275        2220
top               NaN   77224        2442
freq              NaN     264         158
mean    201633.474567     NaN         NaN
std        256.952354     NaN         NaN
min     201210.000000     NaN         NaN
25%     201420.000000     NaN         NaN
50%     201620.000000     NaN         NaN
75%     201820.000000     NaN         NaN
max     202110.000000     NaN         NaN

### Parece que los valores de "COD_DOCENTE" deben ser de 4 digitos, tenemos que verificarlo

In [8]:
print(f'Numero de COD_DOCENTE con menos de 4 digitos: {len(df.COD_DOCENTE[df.COD_DOCENTE.apply(len)<4])}')
print(f'Numero de COD_DOCENTE con mas de 4 digitos: {len(df.COD_DOCENTE[df.COD_DOCENTE.apply(len)>4])}')
print(f'Numero de COD_DOCENTE con exactamente 4 digitos: {len(df.COD_DOCENTE[df.COD_DOCENTE.apply(len)==4])}')

Numero de COD_DOCENTE con menos de 4 digitos: 3404
Numero de COD_DOCENTE con mas de 4 digitos: 0
Numero de COD_DOCENTE con exactamente 4 digitos: 29133

> La mayoria tienen 4 digitos, unos pocos tienen menos

In [9]:
len(df.COD_DOCENTE.unique())

2220

> Hay 2200 valores unicos para "COD_DOCENTE"

Rellenamos con ceros a la izquierda para tener consistencia en cuanto a el numero de digitos, ademas verificamos que se mantiene el mismo numero de valores unicos:

In [11]:
df.COD_DOCENTE = df.COD_DOCENTE.str.zfill(4)
print(f'Numero de COD_DOCENTE con exactamente 4 digitos: {len(df.COD_DOCENTE[df.COD_DOCENTE.apply(len)==4])}')
len(df.COD_DOCENTE.unique())

Numero de COD_DOCENTE con exactamente 4 digitos: 32537

2220

In [7]:
# Parece que los peirodos deben ser de 6 digitos, tenemos que verificarlo
print(f'Codigo de PERIODO con menos de 6 digitos: {len(df.PERIODO[df.PERIODO.apply(len)<6])}')
print(f'Codigo de PERIODO con mas de 6 digitos: {len(df.PERIODO[df.PERIODO.apply(len)>6])}')
print(f'Codigo de PERIODO con exactamente 6 digitos: {len(df.PERIODO[df.PERIODO.apply(len)==6])}') # estan todos bien

Codigo de PERIODO con menos de 6 digitos: 0
Codigo de PERIODO con mas de 6 digitos: 0
Codigo de PERIODO con exactamente 6 digitos: 32537

In [101]:
len(df.COD_MAT[df.COD_MAT.apply(len)==6])

32537

In [99]:
filtro_6_digitos = df.COD_MAT.apply(len) == 6 # lista de falsos y verdaderos
cod_6_digitos = df.COD_MAT[filtro_6_digitos] # aplicar filtro (obtenemos las filas correspondientes a los verdaderos)
filt_starts_0 = cod_6_digitos.str.startswith('0')
cod_6_digitos[filt_starts_0]

Series([], Name: COD_MAT, dtype: object)

In [100]:
df.COD_MAT = df.COD_MAT.str.zfill(6)

In [6]:
df.PERIODO.value_counts()

201620    1986
201710    1983
201810    1932
201520    1905
201820    1897
201720    1896
201610    1887
201510    1884
201420    1774
201410    1731
201910    1702
201920    1675
202010    1663
201320    1618
201310    1564
201220    1503
201210    1407
202020    1129
202110    1089
201311      35
201511      32
201321      32
201411      31
201911      26
201221      23
201421      19
202011      16
201711      13
201611      12
201811      11
201211      11
202021      10
201921      10
201721       9
201521       9
201621       8
201821       5
Name: PERIODO, dtype: int64

In [9]:
df.COD_MAT.value_counts()

77224    264
66453    260
66465    256
66441    225
66443    197
Name: COD_MAT, dtype: int64

In [32]:
num_filas = df.shape[0]

In [36]:
print(f'PERIODO: Numero Total de filas: {num_filas}, filas no vacias: {df.PERIODO.count()}')
print(f'COD_MAT: Numero Total de filas: {num_filas}, filas no vacias: {df.COD_MAT.count()}')
print(f'COD_DOCENTE: Numero Total de filas: {num_filas}, filas no vacias: {df.COD_DOCENTE.count()}')

PERIODO: Numero Total de filas: 32537, filas no vacias: 32537
COD_MAT: Numero Total de filas: 32537, filas no vacias: 32537
COD_DOCENTE: Numero Total de filas: 32537, filas no vacias: 32537

In [80]:
df.COD_DOCENTE.sort_values()

2926     0000
2925     0000
2923     0000
2922     0000
1676     0000
         ...
31794    5708
31835    5708
31875    5711
31937    5713
31938    5714
Name: COD_DOCENTE, Length: 32537, dtype: object

In [83]:
len(df.COD_DOCENTE.unique())

2220

In [48]:
df.groupby(['PERIODO','COD_MAT']).count().sort_values(by = 'COD_DOCENTE')

                 COD_DOCENTE
PERIODO COD_MAT
201210  11303              1
201720  66365              1
        66364              1
        66363              1
        66362              1
...                      ...
        88146             18
201910  66441             18
201820  66441             18
201810  66441             18
202010  88146             20

[23971 rows x 1 columns]

In [57]:
dato = int('0011')
dato

11

In [58]:
str(dato)

'11'